pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.cpcache
.calva/mcp-server/port
.calva/repl.calva-repl
.clj-kondo/.cache/
.lsp/.cache/
.portal/vs-code.edn
