{
 :paths ["src"]
 :deps  {}

 :aliases
 {
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
   :ns-default build}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :sign-releases? true
               :sign-key-id "CBBDC7BE00954E2E3A46C80CA3994949855D2816"
               :artifact "target/thneed.jar"}}

  :dev {:extra-deps {org.clojure/clojure {:mvn/version "1.12.3"}}}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
}
